html,
body {
    height: 100%;
}

body {
    font-family: 'Coming Soon', cursive;
    color: rgb(51, 51, 51);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/background.jpg);
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*
===============
Header styling
===============
*/

header {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.navbar.bg-dark {
    opacity: 0.9;
}

.intro h1 {
    font-family: 'Great Vibes', cursive;
}

.intro {
    color: #fff;
    text-align: center;
    width: 100%;
}

#salut {
    display: block;
    text-align: center;
}

/*
===================
Portfolio section
===================
*/
.portfolio-showcase {
    margin-top: 1.5rem;
}

/*
================
Footer
================
*/
.social-icons img {
    height: 1.5rem;
    margin-right: 1.0rem;
}

.jumbotron {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 2rem;
}

h4 {
    margin-bottom: 2rem;
}


/*
========================
Media queries
========================
*/

@media only screen and (min-width: 1025px) {
    .jumbotron {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        -webkit-transition: -webkit-filter 0.3s ease-in-out;
        transition: -webkit-filter 0.3s ease-in-out;
        transition: filter 0.3s ease-in-out;
        transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
    }
    .jumbotron:hover {
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
    }
}

@media only screen and (max-width: 400px) {
    .social-icons img {
        margin-right: 0.5rem;
    }
}